/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chokokutai&family=Noto+Sans+JP:wght@400;700&family=Noto+Serif+JP:wght@400;700&display=swap');

body {
	background-color: #0e0019;
	color: #ffffff;
	font-family: 'Arial', 'Helvetica Neue', 'Noto Sans JP', sans-serif;
	font-size: 0.8rem;
}

h3 {
	font-size: 1.5rem;
}

header > .page-title {
	font-family: 'Chokokutai';
	font-weight: 400;
	font-size: 7vw;
	color: #b6e8ff;
	
}

.title-bg {
	background-image: url(./img/brnheader2.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 50%;
	padding: 12vh 0;
}

.srf {
	font-family: 'Times New Roman', 'Noto Serif JP', serif;
}

a:link, a:visited {
	color: #ff75b5;
}

a:hover, a:hover:visited {
	color: #9e3c6a;
}


